doctype html
html
  head
    title Add New Cost
  body
    h1 Add New Cost
    form(action="/api/costs/add", method="POST")
      label(for="description") Description:
      input(type="text" name="description" required)
      br
      label(for="category") :
      select(name="category")
        option(value="food") 
        option(value="health") 
        option(value="housing") 
        option(value="sport") 
        option(value="education") 
      br
      label(for="sum") Sum:
      input(type="number" name="sum" required)
      br
      label(for="userid") User ID:
      input(type="text" name="userid" required)
      br
      button(type="submit") Add Cost
